/*crayon - return to ulearn.ie*/


.region.region-crayon{
width: 172px;
height: 60px;
position: absolute;
right: 275px;
top: 110px;
}

.region.region-craytop{
width: 490px;
height: 35px;
position: absolute;
right: 460px;
top: 3px;
}